---
import BookMark from "@components/BookMark.astro";
import CardEffect from "@components/CardEffect.astro";
import Zmb from "@components/icons/Zmb.astro";
import SeasonDisplay from "@components/SeasonDisplay.astro";
import Title from "@components/Title.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import { languageTag, availableLanguageTags } from "@paraglide/runtime";
import { getSeasons } from "@utils/apiCalls/seasons";
import { getAlt, getImage } from "@utils/mediaProcessors";
import * as m from "@paraglide/messages";
import { localizePathname } from "@utils/linking";

const seasons = await getSeasons(languageTag());

let translatedUrls: { [locale: string]: string } = {};
for (const locale of availableLanguageTags) {
	if (locale == languageTag()) continue;
	translatedUrls[locale] = localizePathname("/denboraldiak", locale);
}
---

<ContentLayout title={m.seasons_title()} {translatedUrls}>
	<Title extraClass={"mb-16"}>{m.seasons_title()}</Title>
	<div class="mt-16 flex flex-col gap-4 md:gap-12">
		{
			seasons.map((season, i) => (
				<CardEffect
					href={`${localizePathname("/denboraldiak", languageTag())}/${season.id}/${season.slug}`}
					extraClass="relative"
				>
					<BookMark color="fill-zmb" extraClass="md:w-[5%] md:right-[3%]">
						<Zmb />
					</BookMark>
					<SeasonDisplay
						title={season.title}
						image={getImage("m", season.image)}
						alt={getAlt(season.image)}
						imagePos={i % 2 === 1 ? "right" : "left"}
					>
						<h4 class="mb-4 lg:text-lg">({season.years})</h4>
						<p>{season.description}</p>
					</SeasonDisplay>
				</CardEffect>
			))
		}
	</div>
</ContentLayout>
