---
import ContentLayout from "@layouts/ContentLayout.astro";
import { getMediaEntries } from "@utils/apiCalls/mediaEntries";
import Title from "@components/Title.astro";
import MediaCard from "@components/MediaCard.astro";
import { getMediaEntryAlt, getMediaEntryThumbnail } from "@utils/mediaEntryProcessors";
import { availableLanguageTags, languageTag } from "@paraglide/runtime";
import { localizePathname } from "@utils/linking";
import * as m from "@paraglide/messages";

const entries = await getMediaEntries(languageTag());

let translatedUrls: { [locale: string]: string } = {};
for (const locale of availableLanguageTags) {
	if (locale == languageTag()) continue;
	translatedUrls[locale] = localizePathname("/", locale);
}
---

<ContentLayout title={m.media_content_title()} {translatedUrls}>
	<Title extraClass={"mb-16"}>{m.media_content_title()}</Title>
	<div class="flex flex-wrap justify-center gap-4">
		{
			entries.map((entry) => (
				<MediaCard
					title={entry.title}
					description={entry.description ?? undefined}
					image={getMediaEntryThumbnail("s", entry)}
					alt={getMediaEntryAlt(entry)}
					link={`${localizePathname("/mediateka/edukia", languageTag())}/${entry.id}/${entry.slug}`}
				/>
			))
		}
	</div>
</ContentLayout>
