---
import NewsCard from "@components/NewsCard.astro";
import Title from "@components/Title.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import * as m from "@paraglide/messages";
import { availableLanguageTags, languageTag } from "@paraglide/runtime";
import { getNews } from "@utils/apiCalls/news";
import { localizePathname } from "@utils/linking";
import { getAlt, getImage } from "@utils/mediaProcessors";

console.log(languageTag());
const news = await getNews(languageTag());
console.log(news);

let translatedUrls: { [locale: string]: string } = {};
for (const locale of availableLanguageTags) {
	if (locale == languageTag()) continue;
	translatedUrls[locale] = localizePathname("/berriak", locale);
}
---

<ContentLayout title={m.news_title()} {translatedUrls}>
	<Title>{m.news_title()}</Title>
	<div class="mt-16 flex flex-wrap justify-center gap-4">
		{
			news.map((n) => (
				<NewsCard
					title={n.title}
					description={n.description ?? undefined}
					date={new Date(n.createdAt)}
					image={getImage("m", n.image)}
					alt={getAlt(n.image)}
					link={`${localizePathname("/berriak", languageTag())}/${n.id}/${n.slug}`}
				/>
			))
		}
	</div>
</ContentLayout>
