---
import * as m from "../paraglide/messages.js";
import ContentLayout from "@layouts/ContentLayout.astro";
import { getNews } from "@utils/apiCalls/news";
import { getNextConcerts } from "@utils/apiCalls/concerts";
import { getMediaEntries } from "@utils/apiCalls/mediaEntries";
import Carousel from "@components/Carousel.svelte";
import NewsCard from "@components/NewsCard.astro";
import HrLink from "@components/HrLink.astro";
import ConcertCard from "@components/ConcertCard.astro";
import { getImage, getAlt } from "@utils/mediaProcessors";
import { getMediaEntryThumbnail, getMediaEntryAlt } from "@utils/mediaEntryProcessors";
import { getSeasonByConcertId, type Season } from "@utils/apiCalls/seasons";
import MediaCard from "@components/MediaCard.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { languageTag } from "@/paraglide/runtime";

let slides: {
	title: string;
	image: string;
	alt: string;
	link: string;
	linkText: string;
	description?: string;
}[] = [];
// Concerts
const concerts = await getNextConcerts(Astro.currentLocale || "eu", 3);
let concertSeasonRelation: {
	[id: number]: Season | null;
} = {};
for (const concert of concerts) {
	const season = await getSeasonByConcertId(Astro.currentLocale || "eu", concert.id);
	concertSeasonRelation = { ...concertSeasonRelation, [concert.id]: season };
}
if (concerts.length > 0) {
	const nextConcert = concerts[0];
	slides.push({
		title: nextConcert.title,
		image: getImage("m", nextConcert.image) ?? "/images/Logo_large_MusikaBanda_black.png",
		alt: getAlt(nextConcert.image) ?? nextConcert.title,
		link: `${getRelativeLocaleUrl(Astro.currentLocale || "eu", "denboraldiak")}/${concertSeasonRelation[nextConcert.id]?.id}/${concertSeasonRelation[nextConcert.id]?.slug}/${nextConcert.id}/${nextConcert.slug}`,
		linkText: m.homeCarrouselMore(),
		description: nextConcert.description ?? undefined,
	});
}
// News
const news = await getNews(Astro.currentLocale || "eu", 3);
if (news.length > 0) {
	const firstNews = news[0];
	slides.push({
		title: firstNews.title,
		image: getImage("m", firstNews.image) ?? "/images/Logo_large_MusikaBanda_black.png",
		alt: getAlt(firstNews.image) ?? firstNews.title,
		link: `${getRelativeLocaleUrl(Astro.currentLocale || "eu", "/berriak")}/${firstNews.id}/${firstNews.slug}`,
		linkText: m.homeCarrouselRead(),
		description: firstNews.description ?? undefined,
	});
}
// Mediateca
const mediaEntries = await getMediaEntries(Astro.currentLocale || "eu", 3);
if (mediaEntries.length > 0) {
	const firstEntry = mediaEntries[0];
	slides.push({
		title: firstEntry.title,
		image: getMediaEntryThumbnail("m", firstEntry) ?? "/images/Logo_large_MusikaBanda_black.png",
		alt: getMediaEntryAlt(firstEntry),
		link: `${getRelativeLocaleUrl(Astro.currentLocale || "eu", "mediateka/edukia")}/${firstEntry.id}/${firstEntry.slug}`,
		linkText: m.homeCarrouselSee(),
		description: firstEntry.description ?? undefined,
	});
}
---

<ContentLayout title={m.homeTitle()}>
	{
		slides.length > 0 && (
			<div slot="no-padding">
				<Carousel slides={slides} client:load />
			</div>
		)
	}

	{
		// Concerts
		concerts.length > 0 && (
			<>
				<h2 class="mb-8 text-center text-3xl font-bold lg:text-4xl">
					{m.homeConcerts("home:concerts")}
				</h2>
				<div class="flex flex-wrap justify-center gap-4">
					{concerts.map((concert) => (
						<ConcertCard
							title={concert.title}
							description={concert.description ?? undefined}
							date={concert.date ? new Date(concert.date) : undefined}
							image={getImage("s", concert.image)}
							alt={getAlt(concert.image) ?? concert.title}
							link={`${getRelativeLocaleUrl(languageTag(), "/denboraldiak")}/${concertSeasonRelation[concert.id]?.id}/${
								concertSeasonRelation[concert.id]?.slug
							}/${concert.id}/${concert.slug}`}
							small
						/>
					))}
				</div>
				<HrLink href={getRelativeLocaleUrl(languageTag(), "denboraldiak")} />
			</>
		)
	}

	{
		// News
		news.length > 0 && (
			<>
				<h2 class="mb-8 mt-12 text-center text-3xl font-bold lg:text-4xl">{m.homeNews()}</h2>
				<div class="flex flex-wrap justify-center gap-4">
					{news.map((n) => (
						<NewsCard
							title={n.title}
							description={n.description ?? undefined}
							date={new Date(n.createdAt)}
							image={getImage("s", n.image)}
							alt={getAlt(n.image)}
							link={`${getRelativeLocaleUrl(languageTag(), "berriak")}/${n.id}/${n.slug}`}
						/>
					))}
				</div>
				<HrLink href={getRelativeLocaleUrl(languageTag(), "berriak")} />
			</>
		)
	}

	{
		// Mediateca
		mediaEntries.length > 0 && (
			<>
				<h2 class="mb-8 mt-12 text-center text-3xl font-bold lg:text-4xl">{m.homeMedia()}</h2>
				<div class="flex flex-wrap justify-center gap-4">
					{mediaEntries.map((m) => (
						<MediaCard
							title={m.title}
							description={m.description ?? undefined}
							image={getMediaEntryThumbnail("s", m)}
							alt={getMediaEntryAlt(m)}
							link={`${getRelativeLocaleUrl(languageTag(), "mediateka/edukia")}/${m.id}/${m.slug}`}
						/>
					))}
				</div>
				<HrLink href={getRelativeLocaleUrl(languageTag(), "/mediateka")} />
			</>
		)
	}
</ContentLayout>
