---
import Carousel from "@components/Carousel.svelte";
import ConcertCard from "@components/ConcertCard.astro";
import HrLink from "@components/HrLink.astro";
import MediaCard from "@components/MediaCard.astro";
import NewsCard from "@components/NewsCard.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import * as m from "@paraglide/messages.js";
import { availableLanguageTags, languageTag } from "@paraglide/runtime.js";
import { getNextConcerts } from "@utils/apiCalls/concerts";
import { getMediaEntries } from "@utils/apiCalls/mediaEntries";
import { getNews } from "@utils/apiCalls/news";
import { getSeasonByConcertId, type Season } from "@utils/apiCalls/seasons";
import { localizePathname } from "@utils/linking";
import { getMediaEntryAlt, getMediaEntryThumbnail } from "@utils/mediaEntryProcessors";
import { getAlt, getImage } from "@utils/mediaProcessors";

let slides: {
	title: string;
	image: string;
	alt: string;
	link: string;
	linkText: string;
	description?: string;
}[] = [];
// Concerts
const concerts = await getNextConcerts(languageTag() || "eu", 3);
let concertSeasonRelation: {
	[id: number]: Season | null;
} = {};
for (const concert of concerts) {
	const season = await getSeasonByConcertId(languageTag() || "eu", concert.id);
	concertSeasonRelation = { ...concertSeasonRelation, [concert.id]: season };
}
if (concerts.length > 0) {
	const nextConcert = concerts[0];
	slides.push({
		title: nextConcert.title,
		image: getImage("m", nextConcert.image) ?? "/images/Logo_large_MusikaBanda_black.png",
		alt: getAlt(nextConcert.image) ?? nextConcert.title,
		link: `${localizePathname("/denboraldiak", languageTag())}/${concertSeasonRelation[nextConcert.id]?.id}/${concertSeasonRelation[nextConcert.id]?.slug}/${nextConcert.id}/${nextConcert.slug}`,
		linkText: m.home_carrousel_more(),
		description: nextConcert.description ?? undefined,
	});
}
// News
const news = await getNews(languageTag() || "eu", 3);
if (news.length > 0) {
	const firstNews = news[0];
	slides.push({
		title: firstNews.title,
		image: getImage("m", firstNews.image) ?? "/images/Logo_large_MusikaBanda_black.png",
		alt: getAlt(firstNews.image) ?? firstNews.title,
		link: `${localizePathname("/berriak", languageTag())}/${firstNews.id}/${firstNews.slug}`,
		linkText: m.home_carrousel_read(),
		description: firstNews.description ?? undefined,
	});
}
// Mediateca
const mediaEntries = await getMediaEntries(languageTag() || "eu", 3);
if (mediaEntries.length > 0) {
	const firstEntry = mediaEntries[0];
	slides.push({
		title: firstEntry.title,
		image: getMediaEntryThumbnail("m", firstEntry) ?? "/images/Logo_large_MusikaBanda_black.png",
		alt: getMediaEntryAlt(firstEntry),
		link: `${localizePathname("/mediateka/edukia", languageTag())}/${firstEntry.id}/${firstEntry.slug}`,
		linkText: m.home_carrousel_see(),
		description: firstEntry.description ?? undefined,
	});
}
// Translations
let translatedUrls: { [locale: string]: string } = {};
for (const locale of availableLanguageTags) {
	if (locale == languageTag()) continue;
	translatedUrls[locale] = localizePathname("/", locale);
}
---

<ContentLayout title={m.home_title()} {translatedUrls}>
	{
		slides.length > 0 && (
			<div slot="no-padding">
				<Carousel slides={slides} client:load />
			</div>
		)
	}

	{
		// Concerts
		concerts.length > 0 && (
			<>
				<h2 class="mb-8 text-center text-3xl font-bold lg:text-4xl">{m.home_concerts()}</h2>{" "}
				<div class="flex flex-wrap justify-center gap-4">
					{concerts.map((concert) => (
						<ConcertCard
							title={concert.title}
							description={concert.description ?? undefined}
							date={concert.date ? new Date(concert.date) : undefined}
							image={getImage("s", concert.image)}
							alt={getAlt(concert.image) ?? concert.title}
							link={`${localizePathname("/denboraldiak", languageTag())}/${concertSeasonRelation[concert.id]?.id}/${
								concertSeasonRelation[concert.id]?.slug
							}/${concert.id}/${concert.slug}`}
							small
						/>
					))}
				</div>
				<HrLink href={localizePathname("/denboraldiak", languageTag())} />
			</>
		)
	}

	{
		// News
		news.length > 0 && (
			<>
				<h2 class="mb-8 mt-12 text-center text-3xl font-bold lg:text-4xl">{m.home_news()}</h2>
				<div class="flex flex-wrap justify-center gap-4">
					{news.map((n) => (
						<NewsCard
							title={n.title}
							description={n.description ?? undefined}
							date={new Date(n.createdAt)}
							image={getImage("s", n.image)}
							alt={getAlt(n.image)}
							link={`${localizePathname("/berriak", languageTag())}/${n.id}/${n.slug}`}
						/>
					))}
				</div>
				<HrLink href={localizePathname("/berriak", languageTag())} />
			</>
		)
	}

	{
		// Mediateca
		mediaEntries.length > 0 && (
			<>
				<h2 class="mb-8 mt-12 text-center text-3xl font-bold lg:text-4xl">{m.home_media()}</h2>
				<div class="flex flex-wrap justify-center gap-4">
					{mediaEntries.map((me) => (
						<MediaCard
							title={me.title}
							description={me.description ?? undefined}
							image={getMediaEntryThumbnail("s", me)}
							alt={getMediaEntryAlt(me)}
							link={`${localizePathname("/mediateka/edukia", languageTag())}/${me.id}/${me.slug}`}
						/>
					))}
				</div>
				<HrLink href={localizePathname("/mediateka", languageTag())} />
			</>
		)
	}
</ContentLayout>
