---
import HrLink from "@components/HrLink.astro";
import MediaCard from "@components/MediaCard.astro";
import Title from "@components/Title.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import * as m from "@paraglide/messages";
import { availableLanguageTags, languageTag } from "@paraglide/runtime";
import { getMediaEntries } from "@utils/apiCalls/mediaEntries";
import { getMediaLists } from "@utils/apiCalls/mediaLists";
import { localizePathname } from "@utils/linking";
import { getMediaEntryAlt, getMediaEntryThumbnail } from "@utils/mediaEntryProcessors";

const entries = await getMediaEntries(languageTag(), 3);
const lists = await getMediaLists(languageTag(), 2, 3);

let translatedUrls: { [locale: string]: string } = {};
for (const locale of availableLanguageTags) {
	if (locale == languageTag()) continue;
	translatedUrls[locale] = localizePathname("/mediateka", locale);
}
---

<ContentLayout title={m.media_title("media:title")} {translatedUrls}>
	<Title>{m.media_title("media:title")}</Title>
	{
		entries.length > 0 && (
			<>
				<h2 class="my-8 text-center text-3xl font-bold lg:text-4xl">
					{m.media_contentLink("media:contentLink")}
				</h2>
				<div class="flex flex-wrap justify-center gap-4">
					{entries.map((entry) => (
						<MediaCard
							title={entry.title}
							description={entry.description ?? undefined}
							image={getMediaEntryThumbnail("s", entry)}
							alt={getMediaEntryAlt(entry)}
							link={`${localizePathname("/mediateka/edukia", languageTag())}/${entry.id}/${entry.slug}`}
						/>
					))}
				</div>
				<HrLink href={localizePathname("/mediateka/edukia", languageTag())} />
			</>
		)
	}
	{
		lists.length > 0 && (
			<>
				<div class="mb-8 mt-16 flex w-full justify-center">
					<a
						class="text-center text-4xl font-bold uppercase transition-colors duration-150 hover:text-zmb hover:underline lg:text-5xl"
						href={localizePathname("/mediateka/listak", languageTag())}
					>
						{m.media_lists_title()}
					</a>
				</div>
				{lists.map((list) => (
					<>
						<h2 class="mb-8 text-center text-3xl font-bold lg:text-4xl">{list.title}</h2>
						<div class="flex flex-wrap justify-center gap-4">
							{list.media?.splice(0, 3).map((entry) => {
								if (typeof entry === "number") return;
								return (
									<MediaCard
										title={entry.title}
										description={entry.description ?? undefined}
										image={getMediaEntryThumbnail("s", entry)}
										alt={getMediaEntryAlt(entry)}
										link={`${localizePathname("/mediateka/edukia", languageTag())}/${entry.id}/${entry.slug}`}
									/>
								);
							})}
						</div>
						<HrLink
							href={`${localizePathname("/mediateka/listak", languageTag())}/${list.id}/${list.slug}`}
						>
							{m.media_lists_seeContent()}
						</HrLink>
					</>
				))}
			</>
		)
	}
</ContentLayout>
