---
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import LinkDropdown, { type Link } from "./LinkDropdown.astro";
import { notNull } from "@utils/filters";

interface Props {
	translatedUrls?: { [key: string]: string };
	lang?: string;
	extraClass?: string;
	acordeon?: boolean;
}

const { translatedUrls, lang: mainLang, extraClass, acordeon } = Astro.props;
const links = i18next.languages
	.map((lang) => {
		const isCurrentLanguage = lang == (mainLang || i18next.language);
		if (!isCurrentLanguage) {
			const linkText = lang.toUpperCase();
			if (translatedUrls) {
				return {
					text: linkText,
					href: translatedUrls[lang],
				};
			} else {
				return {
					text: linkText,
					href: localizePath(Astro.url.pathname, lang),
				};
			}
		}
	})
	.filter(notNull);
---

{
	acordeon ? (
		<>
			<button
				type="button"
				class="group flex w-full items-center p-2 text-base text-gray-900 transition-colors duration-150 ease-out hover:bg-transparent hover:text-zmb"
				aria-controls="language-selector-acordeon"
				data-collapse-toggle="language-selector-acordeon"
			>
				<span class="flex-1 whitespace-nowrap text-left">{i18next.language.toUpperCase()}</span>
				<svg
					class="h-3 w-3"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 10 6"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="m1 1 4 4 4-4"
					/>
				</svg>
			</button>
			<ul id="language-selector-acordeon" class="hidden space-y-2 pl-8">
				{links.map((link) => (
					<li>
						<a
							href={link.href}
							class:list={[
								"block border-0 p-2",
								{
									"text-gray-900 transition-colors duration-150 ease-out hover:bg-transparent hover:text-zmb":
										link.href !== undefined,
								},
								{ "text-gray-300": link.href === undefined },
							]}
						>
							{link.text}
						</a>
					</li>
				))}
			</ul>
		</>
	) : (
		<LinkDropdown
			id="language-selector"
			label={i18next.language.toUpperCase()}
			links={links}
			extraClass={extraClass}
			width="w-12"
			hover
		/>
	)
}
