---
import LanguageSelector from "./LanguageSelector.astro";
import LinkDropdown from "./LinkDropdown.astro";
// import Home from "../reusable/icons/Home.astro";
import DrawerHamburger from "./DrawerHamburger.astro";
import Drawer from "./Drawer.astro";
import * as m from "@paraglide/messages.js";
import { localizePathname } from "@/linking.js";

interface Props {
	translatedUrls: { [key: string]: string };
	lang?: string;
}
const { translatedUrls, lang = "eu" } = Astro.props;

interface Link {
	text: string;
	href: string;
}

interface Dropdown {
	text: string;
	links: Link[];
	id: string;
}

type NavElements = Array<Link | Dropdown>;

const navElements: NavElements = [
	{
		text: m.uiNavHome({}, { languageTag: lang }),
		href: localizePathname("/", lang),
	},
	{
		text: m.uiNavOurbandLabel({}, { languageTag: lang }),
		id: "ourBand",
		links: [
			{
				text: m.uiNavOurbandHistory({}, { languageTag: lang }),
				href: localizePathname("/gure-banda/historia", lang),
			},
			{
				text: m.uiNavOurbandMembers("ui:nav.ourBand.members", { languageTag: lang }),
				href: localizePathname("/gure-banda/partaideak", lang),
			},
		],
	},
	{
		text: m.uiNavNews(),
		href: localizePathname("/berriak", lang),
	},
	{
		text: m.uiNavSeason(),
		href: localizePathname("/denboraldiak", lang),
	},
	{
		text: m.uiNavMedia(),
		href: localizePathname("/mediateka", lang),
	},
];
---

<nav>
	<div
		class="sticky top-0 z-10 flex items-center justify-between bg-white bg-opacity-95 px-4 py-0 shadow-xl sm:px-10"
	>
		<div class="flex-shrink-0">
			<a href={localizePathname("/", lang)}>
				<img
					src="/images/Logo_small_MusikaBanda_black.png"
					alt="Logo zornotzako musica banda"
					class="h-20"
					loading="lazy"
					decoding="async"
				/>
			</a>
		</div>

		<div class="hidden items-center gap-4 text-base font-semibold lg:flex">
			{
				navElements.map((elem) => {
					if ("links" in elem) {
						const dropdown = elem as Dropdown;
						return (
							<LinkDropdown
								label={dropdown.text}
								links={dropdown.links}
								id={dropdown.id}
								extraClass="transition-colors ease-out duration-150"
								hover
							/>
						);
					} else {
						const link = elem as Link;
						return (
							<a
								href={link.href}
								class="block border-0 p-2 text-gray-900 transition-colors duration-150 ease-out hover:bg-transparent hover:text-zmb"
							>
								{link.text}
							</a>
						);
					}
				})
			}

			<LanguageSelector
				translatedUrls={translatedUrls}
				lang={lang}
				extraClass="transition-colors ease-out duration-150"
			/>
		</div>
		<div class="lg:hidden">
			<DrawerHamburger id="nav-drawer" position="right" />
		</div>
	</div>
	<Drawer id="nav-drawer" navElements={[navElements]} position="right">
		<li>
			<LanguageSelector
				translatedUrls={translatedUrls}
				lang={lang}
				extraClass="transition-colors ease-out duration-150"
				acordeon
			/>
		</li>
	</Drawer>
</nav>
