---
interface Props {
	piece: {
		author?: string | null;
		arranger?: string | null;
		title?: string | null;
		content_html?: string | null;
		[key: string]: any;
	};
}

const { piece } = Astro.props;
---

{
	piece.author && piece.arranger ? (
		<div class="text-center text-lg">
			<p class="font-bold">
				{piece.author} | arr. {piece.arranger}
			</p>
			<p class="font-normal italic">{piece.title}</p>
		</div>
	) : (
		<p class="text-center text-lg">
			<span class="font-bold">{piece.author}</span> - <span class="italic">{piece.title}</span>
		</p>
	)
}
{
	piece.content_html && (
		<div
			class="format format-base mx-auto mt-16 lg:format-lg format-h1:text-center format-h1:uppercase format-li:ml-8 format-li:text-gray-900"
			set:html={piece.content_html}
		/>
	)
}
