---
interface Props {
	piece: {
		author?: string | null;
		arranger?: string | null;
		title?: string | null;
		description?: string | null;
		[key: string]: any;
	};
}

const { piece } = Astro.props;
---

{
	piece.author && piece.arranger ? (
		<div class="text-center text-lg">
			<p class="font-bold">
				{piece.author} | arr. {piece.arranger}
			</p>
			<p class="font-normal italic">{piece.title}</p>
		</div>
	) : (
		<p class="text-center text-lg">
			<span class="font-bold">{piece.author}</span> - <span class="italic">{piece.title}</span>
		</p>
	)
}
{piece.description && <div class="mt-8">{piece.description}</div>}
