---
import MusicianCard from "@components/MusicianCard.astro";
import Title from "@components/Title.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import * as m from "@paraglide/messages";
import { availableLanguageTags, languageTag } from "@paraglide/runtime";
import { getMusicians } from "@utils/apiCalls/musicians";
import { localizePathname } from "@utils/linking";
import { getAlt, getImage } from "@utils/mediaProcessors";
const musicians = await getMusicians(languageTag());

let translatedUrls: { [locale: string]: string } = {};
for (const locale of availableLanguageTags) {
	if (locale == languageTag()) continue;
	translatedUrls[locale] = localizePathname("/gure-banda/partaideak", locale);
}
---

<ContentLayout title={m.ourBand_members_title()} {translatedUrls}>
	<Title>{m.ourBand_members_musicians()}</Title>
	<div class="mt-16 flex flex-wrap justify-center gap-4">
		{
			musicians.length > 0 &&
				musicians.map((musician) => (
					<MusicianCard
						name={musician.name}
						text={musician.instrument ?? ""}
						image={getImage("s", musician.image)}
						alt={getAlt(musician.image)}
					/>
				))
		}
	</div>
</ContentLayout>
