---
import "@styles/app.css";
import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";
import { languageTag } from "@paraglide/runtime.js";

interface Props {
	title: string;
	translatedUrls: { [key: string]: string };
	lang?: string;
}

const { title, translatedUrls, lang } = Astro.props;
---

<html lang={lang || languageTag()} class="light">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			media="(prefers-color-scheme:light)"
			href="/favicon-dark.png"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			media="(prefers-color-scheme:dark)"
			href="/favicon-light.png"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-zmb-base text-gray-900">
		<Nav translatedUrls={translatedUrls} lang={lang} />
		<slot />
		<Footer lang={lang} />
		<script>
			import "flowbite";
		</script>
	</body>
</html>
